html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  background-color: rgb(51, 51, 51);
}

@keyframes rotate {
  0% {
    transform: rotate3d(-2, 5, 0, 70deg);
  }
  50% {
    transform: rotate3d(-2, 5, 0, 70deg);
  }
  100% {
    transform: rotate3d(-2, 5, 0, 70deg);
  }
}
@keyframes pulse {
  0% {
    transform: perspective(100px) translate(-50%, -50%) translateZ(0) scale(1);
  }
  25% {
    transform: perspective(100px) translate(-50%, -50%) translateZ(-1em) scale(1.2);
  }
  50% {
    transform: perspective(100px) translate(-50%, -50%) translateZ(0) scale(1);
  }
  75% {
    transform: perspective(100px) translate(-50%, -50%) translateZ(1em) scale(0.8);
  }
  100% {
    transform: perspective(100px) translate(-50%, -50%) translateZ(0) scale(1);
  }
}
.container {
  width: 400px;
  height: 400px;
  transform: rotate3d(-2, 5, 0, 70deg);
  transform-style: preserve-3d;
}
.container div:nth-child(1) {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 1s infinite ease-in-out;
}
.container div:nth-child(2) {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 2s infinite ease-in-out;
}
.container div:nth-child(3) {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 3s infinite ease-in-out;
}
.container div:nth-child(4) {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 4s infinite ease-in-out;
}
.container div:nth-child(5) {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 5s infinite ease-in-out;
}
.container div:nth-child(6) {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 6s infinite ease-in-out;
}
.container div:nth-child(7) {
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 7s infinite ease-in-out;
}
.container div:nth-child(8) {
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 8s infinite ease-in-out;
}
.container div:nth-child(9) {
  width: 180px;
  height: 180px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 9s infinite ease-in-out;
}
.container div:nth-child(10) {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 10s infinite ease-in-out;
}
.container div:nth-child(11) {
  width: 220px;
  height: 220px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 11s infinite ease-in-out;
}
.container div:nth-child(12) {
  width: 240px;
  height: 240px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 12s infinite ease-in-out;
}
.container div:nth-child(13) {
  width: 260px;
  height: 260px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 13s infinite ease-in-out;
}
.container div:nth-child(14) {
  width: 280px;
  height: 280px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 14s infinite ease-in-out;
}
.container div:nth-child(15) {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 15s infinite ease-in-out;
}
.container div:nth-child(16) {
  width: 320px;
  height: 320px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 16s infinite ease-in-out;
}
.container div:nth-child(17) {
  width: 340px;
  height: 340px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 17s infinite ease-in-out;
}
.container div:nth-child(18) {
  width: 360px;
  height: 360px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 18s infinite ease-in-out;
}
.container div:nth-child(19) {
  width: 380px;
  height: 380px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 19s infinite ease-in-out;
}
.container div:nth-child(20) {
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 50%;
  border: 2px dotted rgb(219, 219, 219);
  transform: perspective(100px) translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  animation: 10s pulse 20s infinite ease-in-out;
}

/*# sourceMappingURL=organic.css.map */
