.crash-container {
	margin-top: 2em;
	height: 3em;
	width: calc(100vw - 1em);
	position: relative;
}

.car {
	display: inline-block;
	position: absolute;
	background-color: aquamarine;
	height: 100%;
	width: 4em;
	clip-path: polygon(0% 81%, 22% 54%, 75% 54%, 99% 82%, 73% 82%, 69% 90%, 61% 90%, 58% 82%, 37% 82%, 34% 89%, 27% 89%, 24% 82%);
	transition: 0.01s background-color 1.8s;
}

.car2 {
	transform: translateX(calc(100vw - 6em));
}

.crash-container:hover .car1 {
	animation: 2s moveRight ease-in forwards;
}

.crash-container:hover .car2 {
	animation: 2s moveLeft ease-in forwards;
	background-color: blueviolet;
}

@keyframes moveRight {
	0% {
		transform: translateX(0)
	}

	90% {
		transform: translateX(calc(50vw - 1.9em));
		border-radius: 0;
	}

	91% {
		border-radius: 0 100% 100% 0;
	}

	100% {
		border-radius: 0;
		transform: translateX(calc(50vw - 4em));
	}
}

@keyframes moveLeft {
	0% {

		transform: translateX(calc(100vw - 6em));
	}

	90% {
		transform: translateX(calc(50vw + 1.9em));
		border-radius: 0;
	}

	91% {
		border-radius: 100% 0 0 100%;
	}

	100% {
		border-radius: 0;
		transform: translateX(calc(50vw + 4em));
	}
}